<h1>Listing callers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image url</th>
    <th>Token</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @callers.each do |caller| %>
  <tr>
    <td><%= caller.name %></td>
    <td><%= caller.image_url %></td>
    <td><%= caller.token %></td>
    <td><%= caller.email %></td>
    <td><%= link_to 'Show', caller %></td>
    <td><%= link_to 'Edit', edit_caller_path(caller) %></td>
    <td><%= link_to 'Destroy', caller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Caller', new_caller_path %>
